<link rel="import" href="../polymer/polymer-element.html">
<dom-module id="ev-overlay">
  <template>
    <style>
      :host() {
        display: block;
      }

      :host([active]) .overlay {
        display: block;
      }

      :host([light]) .overlay {
        background-color: var(--ev-overlay-background-light-color, white);
      }

      .overlay {
        position: absolute;
        background-color: var(--ev-overlay-background-color, rgb(0, 0, 0));
        opacity: 0.66;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
      }
    </style>
    <div class="overlay"></div>
  </template>

  <script>

    /**
    * `ev-overlay`
    * EValue Overlay Component
    *
    * @customElement
    * @polymer
    * @demo demo/index.html
    */
    class EvOverlay extends Polymer.Element {
      static get is() { return 'ev-overlay'; }
      static get properties() {
        return {
          /** determines whether to display overlay or not */
          active: {
            type: Boolean,
            value: false,
            observer: '_activeStateChanged',
            reflectToAttribute: true,
          },
          /** disable a lighter version of the overlay rather than the dark default */
          light: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          },
          /** opacity value of the overlay */
          opacity: {
            type: Number,
            observer: '_opacityChanged',
            reflectToAttribute: true
          }
        };
      }

      ready() {
        super.ready();
        let tabableChildren = null;
      }

      /**
      * Returns a reference to the  overlay container element.
      * @return {HTMLElement} overlay container
      */
      get overlay() {
        return this.shadowRoot.querySelector('.overlay');
      }


      /**
      * Observes changes to active state of the overlay
      * @param {Boolean} newActiveState current active state
      */
      _activeStateChanged(newActiveState) {
        this._toggleDisability(newActiveState, this.parentNode);
      }

      /**
      * Observes changes to the opacity of the overlay
      * @param {Number} newOpacity new opacity
      * @param {Number} oldOpacity old opacity
      */
      _opacityChanged(newOpacity, oldOpacity) {
        if (newOpacity !== oldOpacity) {
         this.overlay.style.opacity = newOpacity;
        }
      }

      /**
      * Set a property on the attribute to remember what the tabIndex is set to
      * @param {HTMLElement} parentElement element to recursively search
      */
      _setTabIndex(parentElement) {
        this.tabableChildren = parentElement.children;
          if (this.tabableChildren.length > 0) {
            Array.from(this.tabableChildren).forEach((child) => {
              if (child !== this) {             
                child.setAttribute("data-tabIndex", child.tabIndex);
              }
            });
          }
      }

      /**
      * Recursively toggles the focuasbility of children elements
      * @param {Boolean} isActive is overlay active
      * @param {HTMLElement} parentElement element to recursively search
      */
      _toggleDisability(isActive, parentElement) {
        if (this.tabableChildren == null) {
          this._setTabIndex(parentElement);
        }
        if (!this.tabableChildren == null || !this.tabableChildren == undefined) {
          if (this.tabableChildren.length > 0) {
            Array.from(this.tabableChildren).forEach((child) => {
              if (child !== this) {
                if(isActive) {
                  // don't allow children to be tabbed to
                  child.tabIndex = "-1";
                } else {  
                  child.tabIndex = child.getAttribute("data-tabIndex");
                }
                this._toggleDisability(isActive, child);
              }
            });
          }
        }
      }
    }

    window.customElements.define(EvOverlay.is, EvOverlay);
  </script>
</dom-module>